/* ===========================
RESET
=========================== */

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html{
    scroll-behavior:smooth;
}

body{
    font-family:'Poppins',sans-serif;
    background:#fff;
    color:#333;
    overflow-x:hidden;
}

/* ===========================
   COVER
=========================== */

#cover{
    position:relative;
    width:100%;
    overflow:hidden;
}

.bg{
    display:block;
    width:100%;
    height:auto;
}

.overlay{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
}

/* Kepada */

.kepada{
    position:absolute;
    left:50%;
    top:45%;
    transform:translate(-50%,-50%);

    width:100%;
    text-align:center;

    font-family:'Poppins',sans-serif;
    font-size:18px;
    color:#111 !important;
}

/* Nama Tamu */

#guest{
    position:absolute;
    left:50%;
    top:49%;
    transform:translate(-50%,-50%);

    width:100%;
    text-align:center;

    font-family:'Great Vibes',cursive;
    font-size:44px;
    color:#111 !important;
    line-height:1.1;
}

/* Tombol */

.overlay button{
    position:absolute;

    left:50%;
    bottom:25px;

    transform:translateX(-50%);

    display:inline-block;
    width:auto;

    padding:12px 28px;

    background:#9a7754;
    color:#fff;

    border:none;
    border-radius:35px;

    font-size:15px;
    cursor:pointer;

    z-index:99;
}

.overlay button:hover{
    background:#7b5a3d;
}

/* Android & iPhone */

@media (max-width:768px){

    .kepada{
        top:45%;
        font-size:16px;
    }

    #guest{
        top:49%;
        font-size:38px;
    }

    .overlay button{
        bottom:20px;
        padding:11px 26px;
        font-size:14px;
    }

}

/* ===========================
CONTENT
=========================== */

#content{
    display:none;
}

/* ===========================
LOKASI & RSVP
=========================== */

.button-group{
    text-align:center;
    margin:30px auto 50px;
}

.button-group .btn{
    display:block;
    width:90%;
    max-width:340px;
    margin:15px auto;
    padding:14px;
    border-radius:12px;
    background:#9a7754;
    color:#fff;
    text-decoration:none;
}

/* ===========================
WEDDING GIFT
=========================== */

.rekening{
    width:90%;
    max-width:500px;
    margin:30px auto;
}

.bank{
    background:#fff;
    padding:20px;
    border-radius:15px;
    box-shadow:0 5px 15px rgba(0,0,0,.15);
    margin-bottom:20px;
    text-align:center;
}

.bank h3{
    margin-bottom:10px;
}

.bank p{
    margin:8px 0;
}

.bank button{
    width:100%;
    margin-top:15px;
}

/* ===========================
ANIMASI
=========================== */

section{
    opacity:0;
    transform:translateY(40px);
    transition:1s;
}

section.show{
    opacity:1;
    transform:translateY(0);
}
